/* You can add global styles to this file, and also import other style files */
.page{
    margin-top: 50px;
}
.right{
    float: right;
    margin-right: 5px;
}
.submit{
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }